<!--
  ~ Copyright 2020 PAR Government Systems
  ~
  ~ Unlimited Rights:
  ~ PAR Government retains ownership rights to this software.  The Government has Unlimited Rights
  ~ to use, modify, reproduce, release, perform, display, or disclose this
  ~ software as identified in the purchase order contract. Any
  ~ reproduction of computer software or portions thereof marked with this
  ~ legend must also reproduce the markings. Any person who has been provided
  ~ access to this software must be aware of the above restrictions.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.missionapi">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:theme="@style/AppTheme">

    </application>

</manifest>
